Django==2.1.4
Faker==1.0.2
autopep8==1.4.4
boto3==1.9.143
django-cors-headers==2.4.0
django_environ==0.4.5
djangorestframework==3.9.2
djangorestframework_simplejwt==3.3
drf_yasg==1.15.0
environ==1.0
factory-boy==2.11.1
pylint==2.3.1
graphviz==0.8
lxml==3.8.0
matplotlib==2.0.2
numpy==1.21.0
pandas==0.22.0
Pillow==4.3.0
python-docx==0.8.6
XlsxWriter==0.9.9
openpyxl==2.4.9
setuptools==39.0.1
numexpr==2.6.4
fuzzywuzzy==0.16.0
python-Levenshtein==0.12.0
python-dateutil==2.6.1
azure-common==1.1.8
azure-mgmt-compute==3.0.1
PyInstaller==3.3.1
docker==3.4.0
sqlalchemy==1.2.12
SQLAlchemy-Utils==0.33.11
yapf==0.24.0
python-dotenv==0.9.1
psycopg2-binary==2.7.6.1
